{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block contents %}
<div id="container">
	<div id="content">
        <div id="tt"> 전자 장부</div>
        <div id="money">
            초기 잔고 : 10,000/ 지출 내역 : 120,000/ 현재 잔고 : 20,000
        </div>

        <table class="bbs-table">
        <tr>
            <th style="width:72px;">번호</th>
            <th style="width:339px;">제목</th>
            <th style="width:95px;">작성자</th>
            <th style="width:90px;">작성일</th>
            <th style="width:63px;">금액</th>
            <th style="width:52px">파일</th>
        </tr>

        {% for data in datas%}
        <tr>
            <td style="text-align: center;">{{data.id}}</td>
            <td style="text-align: center;"><a href="{% url 'elecAccountDetail' data.id %}">{{data.title}}</a></td>
            <td style="text-align: center;">{{data.administrator}}</td>
            <td style="text-align: center;">{{data.created_date|date:"Y/m/d"}}</td>
            <td style="text-align: center;">{{data.amount | intcomma}}</td>
            {% if data.image %}
                <td style="text-align: center;">O</td>
            {% else %}
            <td style="text-align: center;">-</td>
            {% endif %}
        </tr>

        {% endfor %}
        </table>

        <div id="page_controler">
            <a href="">1</a>
            <a href="">2</a>
        </div>

        {% if user.is_authenticated%}
        <div id="edit">
            <a href="{% url 'elecAccountAdd' %}">내역 추가</a>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}