
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="Keywords" content="keywords" />
<meta name="Description" content="Description" />
<title>dgu ice</title>
<link rel="stylesheet" href="/Users/macbookair/desktop/iceProject/main/static/main/css/screen.css">


</head>
<body>
<div id="wrap">

	<div id="header">
		<a href="index.html"><h1><img src="logo.gif" width="180" height="50" alt="delivery"/></h1></a>
	</div>


<div id="main-menu">
    <ul id="nav">
        <li>메뉴</li>
        <li><a href="introduce.html">학생회 소개</a></li>
        <li><a href="elecAccount.html">전자 장부</a></li>
        <li><a href="notice.html">공지사항</a></li>        
    </ul>
</div>

<div id="container">
	<div id="content">
        <form action="">
            <label for="input_title">제목 : </label> 
            <input type="text" id="input_title">
            <br>     
            <label for="input_content">내용 : </label>
            <textarea name="" id="input_content" cols="30" rows="10"></textarea>
            <br>
            <label for="input_date">날짜 : </label>
            <input type="date" id="input_date">
            <br>
            <label for="input_price">금액 : </label>
            <input type="text" id="input_price">
            <br>
            <label for="input_image">영수증 사진 : </label>
            <input type="file" id="input_image">
            <br>
            <input type="submit">


        </form>

    </div>
</div>

<div id="sidebar">
	<h1>로그인</h1>
	<ul>
        <li> <div id="con">로그인은 관리자만 가능합니다.</div></li>
        <li><a href='login.html'>로그인하러 가기</a></li> 
        
	</ul>
</div>


</div>
</body>
</html>