{% extends 'base.html' %}
{% load static %}

{% block style %}
<script>
    function conf(){
        var res = confirm("정말 삭제하시겠습니까? ");
        return res;
    }
</script>
{% endblock %}

{% block contents %}
<div id="container">
	<div id="content">
        <div id="tt">{{data.title}}</div>
        <hr>
        <div id="elec_mainBox">
            <div> 내용 : {{data.text}}</div>
            <div> 날짜 : {{data.created_date|date:"Y/m/d"}}</div>
            <div> 작성자 : {{data.administrator}}</div>
            <div> 금액 : {{data.amount}} 원</div>
        </div>

        <div id="image_box">
            {% if data.image %}
            <img id="image" src="{{ data.image.url }}" alt="image drop">
            {% else %}
            <img id="image" src="{% static 'main/images/no_image.png' %}" alt="image drop">
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div id="edit">
            <a href="{% url 'elecAccountEdit' data.pk %}">편집</a>
            <a href="{% url 'elecAccountDelete' data.pk %}" onclick="return conf()" >삭제</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}