{% load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="Keywords" content="keywords" />
<meta name="Description" content="Description" />
<title>dgu ice</title>
<link rel="stylesheet" href="{% static 'main/css/screen.css' %}">


</head>
<body>
<div id="wrap">

	<div id="header">
		<a href="index.html"><h1><img src="{% static 'main/images/logo.jpg' %}" width="180" height="50" alt="delivery"/></h1></a>
	</div>


<div id="main-menu">
    <ul id="nav">
        <li>메뉴</li>
        <li><a href="introduce.html">학생회 소개</a></li>
        <li><a href="elecAccount.html">전자 장부</a></li>
        <li><a href="notice.html">공지사항</a></li>        
    </ul>
</div>

<div id="container">
	<div id="content">
        <h1 style="text-align: center;">정보통신공학과 학생회 홈페이지 입니다</h1>
        <h3 style="text-align: center;">원하시는 메뉴를 상단에서 선택해주세요</h3>
<!-- <div id="tt">비밀번호 변경</div>
<form action='/login/user/customer/pw' method='post'>
    <input type="password" placeholder="1111" name = "passwd">
    <input type="submit" value="변경">
 </form>
<div id="tt">이름 변경</div>
<form action='/login/user/customer/name' method='post'>
    <input type="text" placeholder="﻿지승연" name = "name">
    <input type="submit" value="변경">
 </form>
 <div id="tt">주소 변경</div>
 <form action='/login/user/customer/address' method='post'>
     <input type="text" size = "50px" placeholder="서울특별시 서초구 방배동" name = "address">
     <input type="submit" value="변경">
  </form> -->
    </div>
</div>
<div id="sidebar">
	<h1>로그인</h1>
	<ul>
        <li> <div id="con">로그인은 관리자만 가능합니다.</div></li>
        <li><a href='login.html'>로그인하러 가기</a></li> 
	</ul>
<!-- 
		<li><a href='/login/user/customer'>구매자 관리 화면</a></li>
        <li><a href='/login/user/customer/order'>주문Order 화면</a></li>
        <li><a href='/login/user/customer/buy'>구매화면</a></li> -->
	</ul>
</div>


</div>
</body>
</html>