{% extends 'base.html' %}
{% load static %}

{% block style %}
<script>
    function conf(){
        var res = confirm("정말 삭제하시겠습니까?");
        return res;
    }
</script>
{% endblock %}

{% block contents %}
<div id="container">
	<div id="content">
        <div id="tt">{{data.title}}</div>
        <hr>
        <div id="notice_mainBox">
            <div class = "mainBox_content"> 작성자 : {{data.administrator}}</div>
            <div class = "mainBox_content"> 날짜 : {{data.created_date|date:"Y/m/d"}}</div>
            <div class = "mainBox_content"> 내용 : {{data.text}}</div>
        </div>

        {% if user.is_authenticated %}
        <div id="edit">
            <a href="{% url 'noticeEdit' data.pk %}">편집</a>
            <a href="{% url 'noticeDelete' data.pk %}" onclick="return conf()" >삭제</a>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}