@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.80em;
}

#main-menu {
    margin: 0;
    width: 100%;
    height: 35px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 12px;
    background: #f7901e;
    border: 2px solid #f47852;
}

#header > a > h1{
    margin-top : 10px;
    margin-bottom : 0;
}

ul#nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    top: 9px;
    left: 17px;
}

ul#nav > li {
    float: left;
    padding: 0 5% 0 9px;
}

ul#nav > li > a {
    text-decoration: none;
    color: #FFF;
}

ul#nav > li > a:hover {
    text-decoration: none;
    background: none;
    color: #FFF;
}

#sidebar {
    float: left;
    width: 100%;
    margin-bottom: 2px;
    border: 0px;
    font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	margin-top : 2px;
}
#sidebar > h1 {
    margin: 0;
    padding : 10px;
    padding-right: 0;
    background: #f7901e;
    color: #FFF;
    font-size: 16px;
}
#sidebar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sidebar > ul > li > a:hover {
    background-color: #f7901e;
    color: #64615D;
}

#sidebar > ul > li > a {
    display: block;
    color: #64615D;
    padding: 5px 0px 4px 17px;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    font-weight: normal;
}

#sidebar > ul > li > #con{
    display: block;
    color: #64615D;
    padding: 5px 0px 4px 17px;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    font-weight: normal;
}

#container {
	float: left;
	width: 100%;
	border-top: 1px solid lightgray;
}
#content {
	padding-left: 9px;
	padding-right: 9px;
	font-size: 0.9em;
	line-height: 1.6;
}
#index_h1{
font-size: medium;
}

#content_title{
	display : none;
	visibility: hidden;
}

.bbs-table {
	width: 100%;
	margin: 0.7em 0 0 0;
}
.bbs-table th {
	color: #f7901e;
	border-top: 1px solid #f7901e;
	border-bottom: 1px solid #f7901e;
}
.bbs-table td {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid lightgray;
	line-height: 1.45;
}
.bbs-table td a {
	color: #555;
	text-decoration: none;
}
.bbs-table td a:hover {
	color:#555;
	text-decoration: underline;
}
#page_controler {
	text-align: center;
	
}
#page_controler > a{
	text-decoration: none;
	color : #f7901e;
}
#page_controler > a:hover {
    text-decoration: none;
	background: none;
	color : #f7901e;
}
#edit{
	text-align: right;
}
#edit > a{
	text-decoration: none;
	color : #f7901e;

}
#edit > a:hover{
	text-align: right;
	background: none;
	color : #f7901e;
}

#titleInput{
	border : 1px dashed black;
	width : 270px;
}
#imageInput{
	border : 1px dashed black;
}
#textInput{
	border : 1px dashed black;
}
#image_box > #image{
	width : 100%;
}


@media(min-width : 768px){
	html, body {
		margin: 0;
		padding: 0;
		background-color: #FFF;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 1em;
	}
	pre {
		margin: 0 0 0.7em 0;
		font-family: Consolas, "Noto Sans KR", dotum, "Liberation Mono", Courier, monospace;
	}
	input, select, textarea, td, th {
		color: #646464;
		font-size: 12px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	table {
		border-collapse: collapse;
	}
	img {
		border: 0;
	}
	form {
		margin: 0;
		padding: 0;
	}
	a:link {
		color: #2C80D0;
		text-decoration: none;
	}
	a:visited {
		color: #2C80D0;
		text-decoration: none;
	}
	a:active {
		color: #2C80D0;
		text-decoration: none;
	}
	a:hover {
		color: #2C80D0;
		text-decoration: underline;
	}
	#wrap {
		margin: 0 auto;
		padding: 0;
		width: 1000px;
	}
	#header {
		width: 1000px;
		height: 48px;
	}
	#main-menu {
		margin: 15px 0;
		width: 996px;
		height: 35px;
		font-family: 'Nanum Gothic', sans-serif;
		font-weight: bold;
		font-size: 12px;
		background: #f7901e;
		border: 2px solid #f47852;
	}
	#container {
		float: left;
		width: 80%;
		border-top: 1px solid lightgray;
	}
	#content {
		margin-left : 10px;
		padding-left: 9px;
		padding-right: 9px;
		font-size: 0.9em;
		line-height: 1.6;
	}
	#sidebar {
		float: left;
		width: 19%;
		margin-bottom: 20px;
		border: 1px solid lightgray;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 12px;
		position: relative;
		top: 7px;
	}

	ul#nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
		top: 9px;
		left: 17px;
	}
	ul#nav > li {
		float: left;
		padding: 0 17px 0 8px;
	}
	ul#nav > li > a {
		text-decoration: none;
		color: #FFF;
	}
	ul#nav > li > a:hover {
		text-decoration: underline;
		background: none;
		color: #FFF;
	}
	#sidebar > h1 {
		margin: 0;
		padding: 14px;
		background: #f7901e;
		color: #FFF;
		font-size: 16px;
	}
	#sidebar > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#sidebar > ul > li.sub-heading {
		display: block;
		padding: 6px 10px 6px 10px;
		color: #64615D;
		background: #DAEAAA;
		text-decoration: none;
		font-weight: bold;
	}

	#sidebar > ul > li > a:hover {
		background-color: #f7901e;
		color: #64615D;
	}

	#sidebar > ul > li > a {
		display: block;
		color: #64615D;
		padding: 5px 3px 4px 17px;
		text-decoration: none;
		border-bottom: 1px solid #FFF;
		font-weight: normal;
	}

	#sidebar > ul > li > #con{
		display: block;
		color: #64615D;
		padding: 5px 3px 4px 17px;
		text-decoration: none;
		border-bottom: 1px solid #FFF;
		font-weight: normal;
	}

	#sidebar > ul > form {
		display: block;
		color: #64615D;
		padding: 5px 3px 4px 17px;
		text-decoration: none;
		border-bottom: 1px solid #FFF;
		font-weight: normal;
	}

	#header > h1 {
		margin: 0;
		padding: 0;
		position: relative;
		top: 9px;
	}
	#footer > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
		left: 8px;
	}
	#tt {
		margin: 0;
		padding-top: 10px;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 20px;
		color: #666;
	}

	.bbs-table {
	width: 100%;
	margin: 0.7em 0 0 0;
	}
	.bbs-table th {
		color: #f7901e;
		border-top: 1px solid #f7901e;
		border-bottom: 1px solid #f7901e;
	}
	.bbs-table td {
		padding-top: 3px;
		padding-bottom: 3px;
		border-bottom: 1px solid lightgray;
		line-height: 1.45;
	}
	.bbs-table td a {
		color: #555;
		text-decoration: none;
	}
	.bbs-table td a:hover {
		color:#555;
		text-decoration: underline;
	}

	#main {
		float: left;
		width: 100%;
		border-top: 1px solid lightgray;
	}

	#notice_mainBox,#elec_mainBox {
		margin-left: 250px;
		margin-right: 52px;
		padding-left: 9px;
		padding-right: 9px;
		padding-top: 9px;
		font-size: 0.9em;
		line-height: 1.6;
		float: left;
		width: 60%;
		height: 300px;
		margin-bottom: 20px;
		margin-left : 250px;
		text-align: left;
	}

	#image_box > #image {
		float: left;
		width: 200px;
		margin-left: -790px;
		margin-bottom: 20px;
		border: 1px solid lightgray;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 12px;
		position: relative;
		top: 7px;
		height: 300px;
	}

	#page_controler{
		text-align: center;
	}

	#content #edit{
		display: block;
		text-align: right;
		width: 800px;
		height: 23px;
	}

	#content #edit a{
		margin-left: 5px;
		margin-right: 5px;
	}

	#money{
		text-align: right;
		font-family: 'Nanum Gothic', sans-serif;
		color: #666;
	}

	#content_title{
		display : inline;
		visibility: visible;
		margin: 0;
		padding-top: 10px;
		font-family: 'Nanum Gothic', sans-serif;
		font-size: 20px;
		color: #666;
	}
}